*{
    margin: 0px;
    padding: 0px;
}
body,html{

    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0.764);
    overflow: hidden;
}
#cabecalho{
    background-color: rgba(0, 0, 0, 0.333);
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: right;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.795);
}
@keyframes balada {
    10%{
        box-shadow: 0px 0px 50px yellow;
    }
    20%{
        box-shadow: 0px 0px 50px green;
    }
    30%{
        box-shadow: 0px 0px 50px purple;
    }
    40%{
        box-shadow: 0px 0px 50px pink;
    }
    50%{
        box-shadow: 0px 0px 50px red;
    }
    60%{
        box-shadow: 0px 0px 50px blue;
    }
    70%{
        box-shadow: 0px 0px 50px brown;
    }
    80%{
        box-shadow: 0px 0px 50px blueviolet;
    }
    90%{
        box-shadow: 0px 0px 50px darkcyan;
    }
    100%{
        box-shadow: 0px 0px 50px darkred;
    }
}
p{
    font-weight: bold;
}
#opcaoimg{
    width: 50%;
    height: 70%;
    position: absolute;
}
#opcao{
    width: 8vh;
    height: 8vh;
    background-color: white;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    margin-top: 3.5vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    border: solid 3px gray(255, 0, 0, 0.134);
}
#opcao:hover{
    cursor: pointer;
}
.abrir{
    width: 30vh;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.488);
    position: absolute;
    top: 13%;
    margin-right: 9vh;
    border-radius: 15% 0% 15% 15%;
    text-align: center;
    z-index: 1;
}
a{
    text-decoration: none;
}
.itensalinhados{
    display: block;
    color: white;
    margin: 0.5%;
    margin-top: 7%;
    margin-right: 3%;
    font-size: 3.9vh;
    font-family: sans-serif;
}
.itensalinhados:hover{
    text-decoration: underline;
    text-decoration-color: purple;
    cursor: pointer;
}
#centralizarflexifoto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#foto{
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    background-color: blue;
    position: absolute;
    top: 30%;
    animation: balada 10s infinite;
    overflow: hidden;
    z-index: 0;
}
#minhafoto{
    width: 100%;
    height: 110%;
    z-index: 0;
}
#frasedeola{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    top: 15%;
}
#chatdopersonagem{
    width: 50vh;
    height: 30vh;
    text-align: center;
    border-radius: 5% 5% 0% 5%;
    position: absolute;
    top: 4%;
    background-color: rgba(128, 128, 128, 0.641);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.449);
}
p{
    font-family: sans-serif;
    font-weight: bold;
}
#olaeusou{
    font-size: 3vh;
    color: white;
}
#nome{
    font-size: 4.3vh;
    color: rgb(98, 4, 138);
}
#eugostummm{
    font-size: 2.5vh;
    color: white;
}
#webdev{
    text-align: center;
    color: rgb(98, 4, 138);
}
#circulodaimg{
    background-color: black;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    overflow: hidden;
    transition: transform 0.5s;
    position: absolute;
    top: 70%;
    right: 85%;
}
#imagemgithub{
    width: 100%;
    height: 100%;
}
#circulodaimg:hover{
    cursor: pointer;
    transform: scale(1.2);
}
@media screen and (min-width: 300px) and (max-width: 840px) {
    body{
        margin-bottom: 10%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #frasedeola{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #chatdopersonagem{
        position: absolute;
        top: 70%;
        height: 25vh;
        width: 45vh;
    }
    #foto{
        width: 40vh;
        height: 40vh;
    }
    #olaeusou{
        font-size: 2.5vh;
    }
}
@media screen and (min-width: 840px) {
    #centralizarflexifoto{
        justify-content: center;
    }
    #foto{
        width: 40vh;
        height: 40vh;
    }
    #frasedeola{
        justify-content: left;
    }
    #chatdopersonagem{
        height: 40vh;
        width: 50vh;
        margin-left: 2%;
        top: 15%;
    }
    #olaeusou{
        font-size: 7vh;
    }
    #nome{
        font-size: 6vh;
    }
    #eugostummm{
        font-size: 2.5vh;
    }
    #webdev{
        font-size: 3vh;
    }
}