*{
    margin: 0px;
    padding: 0px;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0.764);
    position: absolute;
}
#cabecalho{
    background-color: rgba(0, 0, 0, 0.333);
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: right;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.795);
}
@keyframes balada {
    10%{
        box-shadow: 0px 0px 50px yellow;
    }
    20%{
        box-shadow: 0px 0px 50px green;
    }
    30%{
        box-shadow: 0px 0px 50px purple;
    }
    40%{
        box-shadow: 0px 0px 50px pink;
    }
    50%{
        box-shadow: 0px 0px 50px red;
    }
    60%{
        box-shadow: 0px 0px 50px blue;
    }
    70%{
        box-shadow: 0px 0px 50px brown;
    }
    80%{
        box-shadow: 0px 0px 50px blueviolet;
    }
    90%{
        box-shadow: 0px 0px 50px darkcyan;
    }
    100%{
        box-shadow: 0px 0px 50px darkred;
    }
}
p{
    font-weight: bold;
}
#opcaoimg{
    width: 50%;
    height: 70%;
    position: absolute;
}
#opcao{
    width: 8vh;
    height: 8vh;
    background-color: white;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    margin-top: 3.5vh;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    border: solid 3px gray(255, 0, 0, 0.134);
}
#opcao:hover{
    cursor: pointer;
}
.abrir{
    width: 30vh;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.488);
    position: absolute;
    top: 13%;
    margin-right: 9vh;
    border-radius: 15% 0% 15% 15%;
    text-align: center;
    z-index: 1;
}
a{
    text-decoration: none;
}
.itensalinhados{
    display: block;
    color: white;
    margin: 0.5%;
    margin-top: 7%;
    margin-right: 3%;
    font-size: 3.9vh;
    font-family: sans-serif;
}
.itensalinhados:hover{
    text-decoration: underline;
    text-decoration-color: purple;
    cursor: pointer;
}
#centralizarflexifoto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#foto{
    border-radius: 50%;
    width: 60vh;
    height: 60vh;
    background-color: blue;
    position: absolute;
    top: 30%;
    animation: balada 10s infinite;
    overflow: hidden;
    z-index: 0;
}
#minhafoto{
    width: 100%;
    height: 110%;
    z-index: 0;
}
#frasedeola{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    top: 15%;
}
#chatdopersonagem{
    width: 50vh;
    height: 25vh;
    text-align: center;
    border-radius: 5% 5% 0% 5%;
    position: absolute;
    top: 4%;
    background-color: rgba(128, 128, 128, 0.641);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.449);
}
p{
    font-family: sans-serif;
    font-weight: bold;
}
#olaeusou{
    font-size: 3vh;
    color: white;
}
#nome{
    font-size: 4.3vh;
    color: rgb(98, 4, 138);
}
#eugostummm{
    font-size: 2.5vh;
    color: white;
}
#webdev{
    text-align: center;
    color: rgb(98, 4, 138);
}
#circulodaimg{
    background-color: black;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    overflow: hidden;
    transition: transform 0.5s;
    position: absolute;
    top: 70%;
    right: 85%;
}
#imagemgithub{
    width: 100%;
    height: 100%;
}
#circulodaimg:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Tópico de Habilidades*/
#barradedivisaohabilidades{
    width: 100%;
    height: 0.5vh;
    background-color: white;
}
#habilidades{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2%;
}
#centralizarflexiimg{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
img{
    width: 20vh;
    height: 20vh;
}
#balaodashabilidades{
    background-color: rgba(128, 128, 128, 0.641);
    width: 50vh;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 0% 5% 5%;
}
.habilidadedobalao{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3vh;
}

/*Tópico de projetos*/
#centralizarprojetosflexi{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#barradedivisaoprojetos{
    width: 100%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    top: 160%;
}
h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    color: white;
    font-family: sans-serif;
}
.projetos{
    width: 30vh;
    height: 30vh;
    background-color: gray;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    text-align: center;
}
a{
    margin: 5%;
}
.bordadoprojeto{
    width: 70%;
    height: 90%;
    background-color: black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alinhartexto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.imgdoprojeto{
    width: 80%;
    height: 80%;
}
.nomedoprojeto{
    color: white;
    font-size: 3vh;
    font-family: sans-serif;
    transform: rotate(-90deg);
    font-weight: bold;
}
#teste1{
    height: 100%;
    width: 20%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 5% 0% 5%;
}
/* Tópico sobre mim */
#barradedivisaosobremim{
    background-color: white;
    width: 100%;
    height: 0.5vh;
    margin-top: 10%;
}
#centralizarsobremimflexi{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
#chatdosobremim{
    background-color: rgba(128, 128, 128, 0.873);
    border-radius: 5% 0% 5% 5%;
    width: 45vh;
    height: 30vh;
    display: flex;
    align-items: center;
    margin-top: 3%;
    text-align: center;
}
#chatdosobremim > p{
    color: white;
}
@media screen and (min-width: 300px) and (max-width: 839px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #frasedeola{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #chatdopersonagem{
        position: absolute;
        top: 70%;
        height: 25vh;
        width: 45vh;
    }
    #foto{
        width: 40vh;
        height: 40vh;
    }
    #olaeusou{
        font-size: 2.5vh;
    }
    #centralizarflexiimg{
        width: 100%;
    }
    img{
        width: 18vh;
        height: 18vh;
    }
    .projetos{
        width: 24vh;
        height: 25vh;
    }
    img{
        width: 15vh;
        height: 15vh;
    }
}
@media screen and (min-width: 840px) {
    #centralizarflexifoto{
        justify-content: center;
    }
    #foto{
        width: 40vh;
        height: 40vh;
    }
    #frasedeola{
        justify-content: left;
    }
    #chatdopersonagem{
        height: 35vh;
        width: 50vh;
        margin-left: 2%;
        position: absolute;
        top: 20%;
    }
    #olaeusou{
        font-size: 7vh;
    }
    #nome{
        font-size: 6vh;
    }
    #eugostummm{
        font-size: 2.5vh;
    }
    #webdev{
        font-size: 3vh;
    }
}
@media screen and (min-height: 600px) {
    img{
        width: 10vh;
        height: 10vh;
    }
    .habilidadedobalao{
        margin: 4%;
    }
    #chatdopersonagem{
        width: 40vh;
        height: 25vh;
    }
    #olaeusou{
        font-size: 6vh;
    }
    #nome{
        font-size: 5vh;
    }
    #webdev{
        font-size: 3.2vh;
    }
    #balaodashabilidades{
        width: 42vh;
        height: 50%;
    }
}
/*
**Celular:**
1. 428 x 926 pixels (Apple iPhone 12 Pro Max)²
2. 414 x 896 pixels (Apple iPhone 11 Pro Max)²
3. 390 x 844 pixels (Apple iPhone 12)²
4. 375 x 812 pixels (Apple iPhone 11 Pro)²
5. 360 x 780 pixels (Apple iPhone 12 Mini)²
6. 320 x 568 pixels (Apple iPhone 5, 5c, 5s)²
7. 320 x 480 pixels (Apple iPhone 3, 3GS)²
8. 1170 x 2532 pixels (Apple iPhone 13)²
9. 1080 x 2340 pixels (Apple iPhone 13 Mini)²
10. 1179 x 2556 pixels (Apple iPhone 15 Pro)²

**Tablet:**
1. 1024 x 1366 pixels (Apple iPad Pro 12.9")²
2. 834 x 1194 pixels (Apple iPad Pro 11")²
3. 810 x 1080 pixels (Apple iPad 10.2")²
4. 768 x 1024 pixels (Apple iPad Mini)²
5. 820 x 1180 pixels (Apple iPad Air 2020)²
6. 1536 x 2048 pixels (Apple iPad 3, 4, Air, Air2, Mini 2, Mini 3, Mini 4)²
7. 2048 x 2732 pixels (Apple iPad Pro)²
8. 600 x 1024 pixels (Amazon Kindle Fire)²
9. 480 x 800 pixels (Amazon Kindle Fire HD 6, HD 7, HD 10)²
10. 800 x 1280 pixels (Amazon Kindle Fire HD 8.9")²

**Computador/notebook:**
1. 3840 x 2160 pixels (4K UHD)⁵
2. 2560 x 1440 pixels (Quad HD)⁵
3. 1920 x 1080 pixels (Full HD)⁵
4. 1366 x 768 pixels⁵
5. 1600 x 900 pixels (HD+)⁵
6. 1280 x 1024 pixels (Super-eXtended Graphics Array - SXGA)⁵
7. 3440 x 1440 pixels (Wide Quad High Definition - WQHD)⁵
8. 5120 x 2880 pixels (5K/UHD+)⁵
9. 7680 x 4320 pixels (8K UHD)⁵
10. 1024 x 768 pixels (XGA)⁵

 */